@import '../mixins';
@import '../animation';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intelligent-bathroom {
  padding-top: 302px;
  padding-bottom: 302px;

  @media screen and (max-width: $md-max) {
    padding-top: 174px;
    padding-bottom: 174px;
  }

  img {
    width: 783px;

    @media screen and (max-width: $md-max) {
      width: 100%;
    }
  }

  .title {
    position: relative;

    .intelligent {
      font-weight: 400;
      font-size: 78px;
      letter-spacing: -0.04em;
  
      @media screen and (max-width: $md-max) {
        font-size: 36px;
      }
    }
  
    .bathrooms {
      font-weight: 200;
      font-size: 78px;
      letter-spacing: -0.04em;
  
      @media screen and (max-width: $md-max) {
        font-size: 36px;
      }
    }
  
    .reserved {
      font-weight: 200;
      position: absolute;
      font-size: 18px;
      top: 30px;
      margin-left: 1px;
  
      @media screen and (max-width: $md-max) {
        font-size: 12px;
        top: 7px;
        margin-left: 1px;
      }
    }
  }
}

.content {
  width: 100%;
  background-color: $primary;
  padding-top: 65px;

  @media screen and (max-width: $md-max) {
    padding-top: 0;
  }

  * {
    color: $text-secondary; 
  }

  a {
    font-size: 16px;
    line-height: 19.09px;
    color: #717171;
    cursor: pointer;
    transition: color .2s ease-in-out;

    &:not([href]):not([class]){
      color: #717171;
    }

    &:not([href]):not([class]):hover {
      color: $text-secondary;
    }

    &.active {
      color: $text-secondary;
    }
  }

  .selection {

    @media screen and (max-width: $md-max) {
      display: none;
    }
  }

  .section {
    padding-top: 81px;
    margin-bottom: 105px;

    @media screen and (max-width: $md-max) {
      padding-top: 100px;
      margin-bottom: 100px;
    }
    
    :global(.visibility-hidden) {
      @media screen and (max-width: $md-max) {
        display: none;
      }
    }

    .title {
      font-size: 18px;
      line-height: 21.47px;

      @media screen and (max-width: $md-max) {
        display: block;
        margin-bottom: 50px;
      }
    }

    .desc {
      font-size: 16px;
      line-height: 24px;
    }
  }

  img {
    width: 100%;
  }
}

.mamo {
  padding: 105px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: $md-max) {
    padding: 100px 0; 
  }

  img {
    width: 101px;
    margin-bottom: 18px;

    @media screen and (max-width: $md-max) {
      width: 45px;
      margin-bottom: 50px;
    }
  }

  span {
    font-size: 14px;
    line-height: 16.7px;
    letter-spacing: 0.05em;

    @media screen and (max-width: $md-max) {
      font-size: 12px;
      line-height: 18px;
    }
  }
}