@import '../mixins';
@import '../animation';

.container {
  min-height: 100vh;
}

.section {
  &-search {
    padding: 70px 0;
      
    @media screen and (max-width: $md-max) {
      padding: 35px 0;
    }

    .title-container {
      
      @media screen and (max-width: $md-max) {
        text-align: center;
      }

      span {
        font-size: 26px;
        line-height: 31.02px;
      
        @media screen and (max-width: $md-max) {
          font-size: 18px;
          line-height: 21.47px;
        }
      }
    }
  }

  &-map {
    margin-bottom: 118px;
      
    @media screen and (max-width: $md-max) {
      margin-bottom: 120px;
    }

    .location-container {
      overflow: auto;
      max-height: 856px;
      height: 856px;
      
      @media screen and (max-width: 1399px) {
        max-height: 736px;
        height: 736px;
      }
      
      @media screen and (max-width: 1199px) {
        max-height: 615.984px;
        height: 615.984px;
      }
      
      @media screen and (max-width: $md-max) {
        max-height: unset;
        height: auto;
      }
        
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: transparent; 
      }

      &::-webkit-scrollbar-thumb {
        background: #D3D3D3; 
        border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #858585; 
      }

      .location-box {
        width: 100%;
        padding: 25px 32px;
        margin-bottom: 10px;
        border: 0.5px solid #939393;
        cursor: pointer;
        
        @media screen and (max-width: $md-max) {
          padding: 20px 22px;
          margin-bottom: 20px;
        }
  
        &.selected {
          border: 2px solid $primary;
        
          @media screen and (max-width: $md-max) {
            display: none;
          }

          &-mobile {
            border: 2px solid $primary;
            display: none;
          
            @media screen and (max-width: $md-max) {
              display: block;
            }
          }
        }

        .location {
          &-title {
            width: 50%;
            font-weight: 700;
            font-size: 20px;
            line-height: 24.42px;
            text-transform: uppercase;
      
            @media screen and (max-width: 1399px) {
              width: 60%;
            }
            
            @media screen and (max-width: 1199px) {
              width: 75%;
            }
  
            @media screen and (max-width: $md-max) {
              font-size: 16px;
              line-height: 22px;
            }
          }

          &-divider {
            width: 100%;
            height: 0.5px;
            background-color: #939393;
            margin: 17.84px 0;
  
            @media screen and (max-width: $md-max) {
              margin: 20px 0;
            }
          }

          &-content {
            width: 50%;
            font-size: 16px;
            line-height: 19.09px;
      
            @media screen and (max-width: 1399px) {
              width: 60%;
            }
            
            @media screen and (max-width: 1199px) {
              width: 75%;
            }
  
            @media screen and (max-width: $md-max) {
              margin-bottom: 15px;
            }
          }

          &-address {
            margin-bottom: 20px;
  
            @media screen and (max-width: $md-max) {
              margin-bottom: 15px;
            }
          }

          &-phone {
            margin-bottom: 25px;
          }

          &-website {
            font-size: 12px;
            line-height: 14.32px;
            color: #686868;
            display: flex;
            align-items: center;

            a {
              display: flex;
              align-items: center;

              img {
                width: 6px;
                transform: rotate(180deg);
                margin-left: 15px;
    
                @media screen and (max-width: $md-max) {
                  width: 5px;
                }
              }
            }
          }
        }
      }
    }

    .map-container {
    
      @media screen and (max-width: $md-max) {
        margin-bottom: 50px;
      }

      > div:nth-child(1) {
        padding-top: 100% !important;
    
        @media screen and (max-width: $md-max) {
          margin-bottom: 50px !important;
        }

        > div:nth-child(1) {
            position: absolute !important;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
      }

      .input-box {
        text-align: center;
        margin-bottom: 30px;
      }
    }
    
  }
}

.location-no {
  padding-top: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}